{% extends "backend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
    <div class="card" style="width: 50%">
        <form action="" method="POST" class="form-control">
            <h3> Login </h3>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>

            <div class="muted">
                <small>Don't have an account? <a href="{% url 'register' %}">register</a></small>
            </div>
            
        </form>
    </div>
</div>

{% endblock content %}